<div class="row">
  <div class="span6 offset3">
  <% @comment = @entry.comments.build() %>
	<%= form_for(@comment) do |f| %>
	  <%#= render 'shared/error_messages', object: f.object %>
    <% if !@errors.nil? %>
			<% @errors.full_messages.each do |value| %>
        <%= content_tag(:div, value, class: "alert alert-"+:error.to_s) %>
      <% end %>
    <% end %>
	  <div class="field">
	    <%= link_to gravatar_for(current_user), current_user %>
	  	<%= f.label "Comment " %>
	  	<%= Time.now.strftime("%Y-%m-%d %A %H:%M:%S") %>
	    <%= f.text_area :content, placeholder: "Compose new entry..." %>
	    <%= f.hidden_field :entry_id, value: @entry.id %>
	  </div>
	  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>
